/*
 * Add your Stylesheet contents here
 */
html { /*	background-color: rgb(180, 180, 180);*/
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	/*	font-size: 90%;*/
	font-size: 100%;
	color: #393834;
	background-color: #ffffff;
	overflow: hidden;
}

blockquote {
	margin-left: 8px;
	border-left: 2px solid gray;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

p a.tumblr_blog {
	margin-bottom: 4px;
	cursor: pointer;
	text-decoration: none;
	color: #393834;
	font-weight: bold;
}

.Closed {
	display: none;
}

.Open {
	display: block;
}

.Inline {
	display: inline !important;
}

.Clear {
	clear: both;
}

div#Viewport {
	background-color: #cccccc;
	/*	    margin: 20px 10px;     padding: 3px 10px;*/
	/*	    border-top: none;     border-right: 3px solid rgb(0, 0, 0);*/
	/*	    border-bottom: 3px solid rgb(0, 0, 0);*/
	/*	    border-left: none;*/
	overflow: hidden;
}

div#ToolBars {
	display: block;
}

div#AreaMain {
	display: block;
}

.AreaMainPortrait {
	height: 460px !important;
	width: 98% !important;
	overflow: auto !important;
	margin-top: -48px !important;
}

.AreaMainLandscape {
	height: 220px !important;
	width: 98% !important;
	overflow: auto !important;
	margin-top: -48px !important;
}

.ToolBar {
	height: 50px;
	width: 98%;
	margin: 50px 0;
}

textarea[name="tags"] {
	font-size: 70%;
}

div.AreaWriteTypeField {
	display: none;
}

.ui-widget label {
	display: block;
	font-size: 90%;
	color: #393834;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 4px;
}

.ui-widget input[type="text"],.ui-widget input[type="password"],.ui-widget input[type="file"],.ui-widget textarea
	{
	width: 97%;
	padding: 0.2em;
	background: #ededed;
}

.ui-widget .ui-widget input[type="file"] {
	width: 97% !important;
	padding: 0.2em;
	background: #ededed;
}

.ui-widget textarea {
	height: 180px;
}

.ui-widget textarea.very-small {
	height: 20px;
}

.ui-widget textarea.small {
	height: 50px;
}

.ui-widget textarea.medium {
	height: 150px;
}

.ui-widget textarea.large {
	height: 200px;
}

.ui-widget h1 {
	color: #393834;
	text-align: right;
	font-weight: bold;
	background-color: #5990C7;
	padding: 6px;
	padding-right: 16px;
	margin-bottom: 6px;
}

/*.nokia-checkbox-icon{*/ /*	width: 16px;*/ /*}*/ /**/
	/*.nokia-checkbox-label img {*/ /*	width: 16px;*/ /*}*/
.nokia-checkbox-label {
	text-decoration: none;
	font-weight: bold;
	color: #393834;
}

br.Divisor{
	font-size: 1px;
}

div#ToolBars{
	border: 1px solid transparent;
}

div#AreaMain div {
	width: 98%;
	margin-left: 1%;
}

#LoaderIndicator {
/*	position: absolute;*/
/*	top: 50px;*/
	height: 12px;
	width: 98%;
}

#LoaderIndicator img {
	width: 100%;
	height: 8px;
}

#ToolBarPosts,#ToolBarNew,#ToolBarConfiguration {
	width: 98%;
	/*	height: 54px;*/
}

#ToolBarNew {
	width: 100%;
}

/*#ToolBarConfiguration {*/ /*	width: 100%;*/ /*}*/
#AreaPosts {
	width: 100%;
}

#AreaWritePhoto-data-block,#AreaWriteAudio-data-block,#AreaWriteVideo-data-block
	{
	margin-top: 8px;
	margin-bottom: 6px;
}

a.toggleFileSource {
	text-decoration: none;
	color: #393834;
	margin-left: 12px;
	padding: 2px;
	border: 1px solid #99968C;
	background-color: #F5F5F6;
	font-weight: bold;
	cursor: pointer;
}

#AreaConfiguration {
	width: 98%;
	margin-left: 1%;
}

#AreaAboutInfo {
	margin: 20px;
}

#AreaAboutInfo .AppVersion {
	padding-left: 4px;
	font-weight: bold;
	font-size: 70%;
}

#AreaAboutInfo p {
	padding: 4px;
	font-size: 80%;
	margin-bottom: 6px;
}

#AreaAboutInfo ul {
	padding: 4px;
	font-size: 80%;
	margin-bottom: 6px;
}

#AreaAboutInfo ul li {
	margin-left: 4px;
}

#AreaAboutInfo h1.AreaTitle {
	margin-bottom: 20px;
}