@CHARSET "UTF-8";

/*****************************/
img.tumblr-post-image {
	float: left;
	width: 12%;
	padding-right: 2px;;
}

dl.tumblr-post {
	float: left;
	margin-bottom: 12px;
	font-size: 100%;
	width: 87%;
}

dl.tumblr-post dt {
	margin-bottom: 12px;
	font-weight: bold;
	background-color: #5990C7;
	padding: 3px;
	padding-bottom : 6px;
	font-size: 80%;
	width: 98%;
}

dl.tumblr-post dd {
	padding: 2px;
	font-size: 90%;
}

dl.tumblr-post dd img.photo {
	margin-top: 2px; width : 98%;
	padding: 2px;
	width: 98%; 
	padding : 2px;
	border: 1px solid #cccccc;
}

dl.tumblr-post dd div.question {
	margin-bottom: 12px;
	font-style: italic;
}

dl.tumblr-post dd div.question:before {
	content: open-quote;
}

dl.tumblr-post dd div.question:after {
	content: close-quote;
}

dl.tumblr-post dd div.answer {
	width: 99%;
}

dl.tumblr-post dd div.quote {
	margin-bottom: 12px;
	font-style: italic;
}

dl.tumblr-post dd div.quote:before {
	content: open-quote;
}

dl.tumblr-post dd div.quote:after {
	content: close-quote;
}

dl.tumblr-post dd div.source {
	width: 99%;
}

dl.tumblr-post dd div.source:before {
	content: "-- ";
}

dl.tumblr-post dd div.link {
	margin-bottom: 12px;
	font-style: italic;
	font-weight: bold;
}

dl.tumblr-post dd div.conversation-title {
	margin-bottom: 12px;
	font-style: italic;
	font-weight: bold;
}

dl.tumblr-post dd div.conversation-text {
	margin-bottom: 12px;
	font-style: italic;
}

dl.tumblr-post dd ul.conversation-lines {
	margin-left: 12px;
}

dl.tumblr-post dd li.conversation-line {
	border-left: 1px solid #cccccc;
}

dl.tumblr-post dd div.link-url {
	width: 99%;
}

.link-description{
	margin-top: 0.5em;
}

dl.tumblr-post dd div.link-url a {
	text-decoration: none;
	cursor: pointer;
}

dl.tumblr-post dd div.link-url a:hover {
	text-decoration: underline;
}

dl.tumblr-post dd div.audio-player object,dl.tumblr-post dd div.audio-player embed
	{
	width: 100%;
}

dl.tumblr-post dd div.audio-title {
	margin-bottom: 12px;
	font-style: italic;
	font-weight: bold;
}

dl.tumblr-post dd div.audio-url {
	font-weight: bold;
	margin-top: 12px;
	font-size: 10px;;
}

dl.tumblr-post dd div.audio-url a {display inline;
	text-decoration: none;
	cursor: pointer;
}

dl.tumblr-post dd div.audio-url a:hover {
	text-decoration: underline;
}

dl.tumblr-post dd div.video-title {
	margin-bottom: 12px;
	font-style: italic;
	font-weight: bold;
}

dl.tumblr-post dd div.video-url {
	font-weight: bold;
	margin-top: 12px;
	font-size: 10px;;
}

dl.tumblr-post dd div.video-player object,dl.tumblr-post dd div.video-player embed
	{
	width: 100%;
}

dl.tumblr-post dd div.video-url a {display inline;
	text-decoration: none;
	cursor: pointer;
}

dl.tumblr-post dd div.video-url a:hover {
	text-decoration: underline;
}

dl.tumblr-post dd.infos {
	font-size: 70%;
	margin-top: -12px;
	padding-top: 8px;
	background-color: #DADFC9;
}

dl.tumblr-post div.infos{
	height: 18px;
	display: block;
}

div.Reblog{
	width: 100%;
	height: 110px;
	margin: 0px;
	padding : 0px;
}

div.Reblog textarea{
	margin-bottom: 8px;
}

.Reblog-title{
	font-weight: bold;
}


	
dl.tumblr-post dd.infos span.like { /*	margin-left: 12px; */
	margin-top: 4px;
	margin-bottom: 4px;
	padding : 4px;
	border: 1px solid #99968C;
	background-color: #F5F5F6;
	font-weight: bold;
	font-size: 110%;
	margin-right: 4px;
	border: 1px solid #99968C;
	cursor: pointer;
	padding: 2px;
}

dl.tumblr-post dd.infos {
	margin-bottom:4px;
}

.bold { font-weight: bold;}

dl.tumblr-post dd.infos span.like:hover {
	background-color: #99968C;
	border: 1px solid #72a729;
}

dl.tumblr-post dd.infos span.notes {
	margin-top: 2px;
/*	margin-left: 12px;*/
	/*	cursor: pointer;*/ /*	border-bottom: 1px solid black;	*/
}

dl.tumblr-post dd.tags,dl.tumblr-post dd.tags:before {
	margin-top: 6px;
	font-size: 8px;
	color: gray;
	font-size: 70%;
}

dl.Defaults dt.DefaultsTitle {
	background-color: #ffffff;
}

.photo dl.Defaults{
	background-color: #5990C7;
	margin-top: -0.5em;
	padding-bottom: 0.4em;
}

dl.Defaults{
	font-size: 90%;
}

.photo dl.Defaults dt {
	background-color: #5990C7;
}

.Defaults{
	margin-top: 0.5em;
	margin-bottom:0.5em;
}
.DefaultsTitle{
	margin-bottom:-0.5em;
}

.close {
	clear: both;
}

.Closed {
	display: none;
}

.Open{
	display: block;
}