.nokia-tooltip-element {
	padding: .8em;
	max-width: 12em;
	border-width: 2px;
	font-size: 14px;
}

.nokia-tooltip {
	position: absolute;
}

.nokia-tooltip-element .nokia-tooltip-pointer-down, .nokia-tooltip .nokia-tooltip-pointer-down-inner {
	position: absolute; 
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}
.nokia-tooltip-element .nokia-tooltip-pointer-down {	
	border-left: 7px solid transparent; 
	border-right: 7px solid transparent;
	border-top-width: 14px;
	bottom:	-14px;
	right: auto;
	left: 50%;
	margin-left: -7px;
}
.nokia-tooltip-element .nokia-tooltip-pointer-up {	
	border-left: 7px solid transparent; 
	border-right: 7px solid transparent;
	border-bottom-width: 13px;
	top: -12px;
	right: auto;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	border-top-width: 0px;
}

.nokia-tooltip-left .nokia-tooltip-pointer-up {	
	border-left: 0px solid transparent; 
	border-right: 14px solid transparent;
	border-bottom-width: 14px;
	top: -13px;
	right: auto;
	left: 10%;
	margin-left: -7px;
}

.nokia-tooltip-right .nokia-tooltip-pointer-up {	
	border-left: 14px solid transparent; 
	border-right: 0px solid transparent;
	border-bottom-width: 14px;
	top: -14px;
	right: 10%;
	left: auto;
	margin-left: -7px;
}
.nokia-tooltip .nokia-tooltip-pointer-down-inner {
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	bottom:	auto;
	top: -14px;
	left: -5px;
}

.nokia-tooltip-left .nokia-tooltip-pointer-down {	
	border-left: 0; 
	border-right: 17px dotted transparent;
	border-top-width: 14px;
	bottom:	-14px;
	right: auto;
	left: 1em;
	margin: 0;
}
.nokia-tooltip-left .nokia-tooltip-pointer-down-inner {
	border-left: 0; 
	border-right: 12px dotted transparent;
	border-top: 10px solid #fff;
	bottom:	auto;
	top: -14px;
	left: 2px;
}
.nokia-tooltip-right .nokia-tooltip-pointer-down {	
	border-left: 17px dotted transparent; 
	border-right: 0;
	border-top-width: 14px;
	bottom:	-14px;
	right: 1em;
	left: auto;
	margin: 0;
}
.nokia-tooltip-right .nokia-tooltip-pointer-down-inner {
	border-left: 12px dotted transparent; 
	border-right: 0;
	border-top: 10px solid #fff;
	bottom:	auto;
	top: -14px;
	right: 2px;
	left: auto;
}

.nokia-tooltip-border {
	border: 1px solid #72A729;
}
